ul a.submenu-link{
    padding-left: 2rem;
}

.label-bold .form-label
{
    font-weight: bold;
}

.message-toast{
    position: fixed; 
    z-index: 9999999;
    top: 20px; 
    right: 20px;
    box-shadow: none !important;
}

.message-toast .message-body{
    padding: 3px 0px 3px 10px;
}
.back-ground-sidebar a.sidebar-link
{
    background: #35414e;
}

.field-sheetjs{
    border: 1px solid #c1c4c7;
    height: 80vh;
    width: 100%;
    background-color: #f5f6f7;
}
.select2-container {
    z-index: 9999;
}
div > .select2-container{
    width: 100% !important;
}
span.select2-container {
    z-index:10050;
}