.font {
    font-family: 'Times New Roman', Times, serif !important;
}
.p-10 {
    padding-top: 10% !important;
}
.d-content {
    display: contents !important;
}
.border-black-2 {
    border-top: 3px solid black !important;
}
.content-800 {
    width: 800px !important;
}
.f-11 {
    font-size: 11px !important;
}
.f-12 {
    font-size: 12px !important;
}
.fs-7 {
    font-size: 14px;
}
.bg-red {
    background-color: #CC0000 !important;
}
.bg-orange{
    background-color: rgb(255, 102, 0) !important;
}
.bg-blue {
    background-color: rgb(0, 77, 145) !important;
}
.bg-yellow {
    background-color: rgb(247, 247, 198);
}
.color-red {
    color: #CC0000 !important
}
.color-blue {
    color: rgb(0, 102, 153) !important;
}
.w-3{
    width: 3% !important;
}
.w-6{
    width: 6% !important;
}
.w-7{
    width: 7% !important;
}
.h30-w100 {
    height: 30px !important;
    width: 100% !important;
}
.h-51 {
    height: 40px !important;
}
.h-30 {
    height: 30px !important;
}
.h-27 {
    height: 27px !important;
}
.h-40 {
    height: 30px !important;
}
.ml-7{
    margin-left: -7px !important;
}
.bg-green-2{
    background-color: rgb(51, 153, 51);
}
.col-05 {
    flex: 0 0 auto !important;
    width: 4.166666665% !important;
}


@media (min-width: 576px) {
    .test {
        font-size: 12px !important; 
    }
}

@media (min-width: 1200px) {
    .col-xl-15 {
        flex: 0 0 auto !important;
        width: 12.5% !important;
    }

    .col-xl-85 {
        flex: 0 0 auto !important;
        width: 87.5% !important;
    }


}