ul a.submenu-link{
    padding-left: 2rem;
}

.label-bold .form-label
{
    font-weight: bold;
}

.message-toast{
    position: fixed; 
    z-index: 9999999;
    top: 20px; 
    right: 20px;
    box-shadow: none !important;
}

.message-toast .message-body{
    padding: 3px 0px 3px 10px;
}
.back-ground-sidebar a.sidebar-link
{
    background: #35414e;
}

#sheet_editor{
    /* overflow: hidden; */
    border-right: 1px solid #f5f6f7;
}